body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg-primary); 
  color: var(--color-text-primary);
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*renkler düzenlenicek !!!! */
:root{
  /* default light olabilir veya nötr değerler olabilir */
}
html[data-theme='dark'] {
  --color-bg-primary: #0a111a;       
  --color-bg-secondary: #17212e;     
  
  /*metin*/
  --color-text-primary: #f0f8ff;    
  --color-text-secondary: #b3c0cf;  
  --color-text-link: #4da6ff;       
  
  /* buton*/
  --color-accent-green: #38c172;    
  --color-accent-hover: #2d9d5c;    
  
  /* diğer */
  --color-border: #334455;         
  --color-box-shadow: rgba(0, 0, 0, 0.5);
}


html[data-theme='light'] {
  /* arka plan */
  --color-bg-primary: #ffffff;      
  --color-bg-secondary: #f4f6f8;    
  
  /* metin */
  --color-text-primary: #17212e;     
  --color-text-secondary: #5b6978; 
  --color-text-link: #007bff;     
  
  /* buton */
  --color-accent-green: #38c172;     
  --color-accent-hover: #2d9d5c;      
  
  /* diğer */
  --color-border: #e0e6ed;    
  --color-box-shadow: rgba(0, 0, 0, 0.1);
}


